.link-card {
    width: 100%;
    margin: 25px;
    padding: 8px;
    max-width: 1200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    background-color: var(--accent-background-color);
}

.link-card>h1 {
    margin-bottom: 8px;
    color: var(--accent-text-color);
}

.link-list {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
}

.link-item {
    width: 12.5%;
    height: 150px;
    text-align: center;
    margin: 0 0 30px 0;
}

.link-item img {
    width: 100px;
    height: 100px;
}

.link-item h4 {
    color: var(--text-color);
}

.link-item p {
    color: #666;
    font-size: 12px;
}

:global(.dark) .link-card {
    background-color: var(--dark-accent-background-color)!important;
}

:global(.dark) .link-item h4 {
    color: var(--dark-text-color)!important;
}

:global(.dark) .link-item p {
    color: #444;
}

@media(min-width: 0px) {
    .link-item {
        width: 100%;
    }
}

@media(min-width: 350px) {
    .link-item {
        width: 50%;
    }
}

@media(min-width: 600px) {
    .link-item {
        width: 25%;
    }
}

@media(min-width: 1000px) {
    .link-item {
        width: 12.5%;
    }
}