:global(.toc-wrap ol) {
    margin: 0;
    padding: 0 2px 5px 10px;
    font-size: 13px;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

:global(.toc-wrap ol>ol) {
    padding-left: 0
}

:global(.toc-wrap ol a) {
    text-decoration: none;
    color: #0593d3;
    border-bottom-color: #ccc;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out
}

:global(.toc-wrap .nav-item) {
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

:global(.toc-wrap .nav .active>a) {
    border-bottom-color: #51b26d;
    color: #51b26d
}

:global(.toc-wrap .nav .active-current>a) {
    color: #51b26d
}

:global(.toc-wrap .nav .active-current>a:hover) {
    color: #51b26d
}


:global(.toc-wrap .nav .nav-child) {
    display: none
}

:global(.toc-wrap .nav .active>.nav-child) {
    display: block
}

:global(.toc-wrap .nav .active-current>.nav-child) {
    display: block
}

:global(.toc-wrap .nav .active-current>.nav-child>.nav-item) {
    display: block
}

:global(.dark .toc-wrap ol a) {
    color: #999!important;
}

:global(.dark .toc-wrap .nav .active>a) {
    border-bottom-color: #444!important;
    color: #333!important;
}

:global(.dark .toc-wrap .nav .active-current>a) {
    color: #333!important;
}

:global(.dark .toc-wrap .nav .active-current>a:hover) {
    color: #333!important;
}

