.index {
    display: flex;
    margin: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    margin-bottom: 30px;
    text-align: center;
}

.tag-name {
    margin: 24px;
    font-size: 30px;
    display: block;
}