.post-card {
    width: 100%;
    margin: 25px;
    max-width: 1200px;
}

.post {
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    background-color: var(--accent-background-color);
}

.comment {
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    background-color: var(--accent-background-color);
}

:global(.dark) .post {
    background-color: var(--dark-accent-background-color)!important;
} 

:global(.dark) .comment {
    background-color: var(--dark-accent-background-color)!important;
} 
