.overlay {
    position: fixed;
    z-index: 500;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.4);
}

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    will-change: transform;
    width: calc(100% - 64px);
    height: calc(100vh - 58px);
    background-color: var(--accent-background-color);
}

:global(.dark) .sidebar {
    background-color: var(--dark-accent-background-color);
}

.open {
    transform: translateX(0)!important;
}

.close {
    transform: translateX(-280px);
    box-shadow: none!important;
}

@-moz-document url-prefix() { 
    .sidebar { 
        height: calc(100vh - 67px);
    } 
}

@media (min-width: 992px) {
    .sidebar {
        max-width: 280px;
    }

    .sidebar-shadow {
        box-shadow: 1px 2px 0px 1px var(--divider-color);
    }

    :global(.dark) .sidebar-shadow {
        box-shadow: 1px 2px 0px 1px var(--dark-divider-color);
    }
}

@media (max-width: 992px) {
    .sidebar {
        top: 0;
        height: 100vh;
        max-width: 280px;
    }

}

@media (max-width: 600px) {
    .sidebar {
        max-width: 300px;
    }

    .close {
        transform: translateX(-300px);
    }
}



