.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 12px;
    background-color: var(--primary-color);
}

.toolbar-shadow {
    box-shadow: 20px 0px 10px rgba(0, 0, 0, .5);
}

.icon {
    color: #eeeeee;
    font-size: 32px;
}

.title {
    color: #eeeeee;
    font-size: 24px;
    padding-left: 24px;
}

:global(.dark) .toolbar {
    background-color: var(--dark-primary-color);
}


:global(.dark) .icon {
    color: var(--dark-accent-text-color);
}

:global(.dark) .title {
    color: var(--dark-accent-text-color);
}