body {
    background-color: var(--background-color);
}

body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #8e535300;
}

body ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}

body, .global-transition>div {
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

body[class='dark'] {
    background-color: var(--dark-background-color)!important;
}

.body-locked {
    overflow: hidden;
}