body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #8e535300;
}

body ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}

body, .global-transition div {
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

body[class^='dark'] {
    background-color: var(--dark-background-color)!important;
}

.body-locked {
    overflow: hidden;
}

.divider {
    display: table;
    vertical-align: middle;
    position: relative;
    margin-bottom: 6px;
    height: 1px;
    width: 100%;
    background-color: var(--divider-color);
}

.dark .divider {
    background-color: var(--dark-divider-color);
}

.dark  a:focus, .dark a:hover {
    text-decoration: underline!important;
    color: #999!important;
}