.dark .post-body {
    color: #333!important;
}

.dark .post-body a {
    color: #222!important;
}

.dark .post-body a:active, .dark .post-body a:focus, .dark .post-body a:hover {
    text-decoration: underline!important;
    color: #111!important;
}

.dark .post-body h2, .dark  .post-body h3, .dark  .post-body h4, .dark .post-body h5, .dark  .post-body h6 {
    border-left: 4px solid #111!important;
}

.dark blockquote {
    color: #bdbdbd;
    border-left: 4px solid #616161!important;
    background-color: #e3f2fd2c;
}

.dark .post-body hr {
    background-color: #555;
}


.dark .post-body tbody tr:nth-of-type(2n+1) {
    background: #555;
}

.dark .post-body tbody tr:hover {
    background-color: rgba(153, 153, 153, 0.5)!important;
}

.dark .post-body th, td {
    border: 1px solid #999;
        border-right-color: #999;
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: #999;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-bottom: 1px solid #999;
        border-bottom-width: 1px;
}
