.dark .post-body {
    color: #333!important;
}

.dark .post-body a:active, .dark .post-body a:focus, .dark .post-body a:hover {
    text-decoration: underline!important;
    color: #222!important;
}

.dark .post-body h2, .dark  .post-body h3, .dark  .post-body h4, .dark .post-body h5, .dark  .post-body h6 {
    border-left: 4px solid #111!important;
}

.dark blockquote {
    color: #bdbdbd;
    border-left: 4px solid #616161!important;
    background-color: #e3f2fd2c;
}

.dark .post-body hr {
    background-color: #555;
}