.post-body {
    color: #555;
    margin: 20px;
    padding-bottom: 20px;
    line-height: 1.8;
}

.post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
    border-left: 4px solid #51b26d;
    margin-bottom: 10px;
    margin-left: 0%;
    padding-left: 32px;
    border-bottom: none
}

.post-body p {
    line-height: 2.5;
    word-break:normal;
    word-wrap:break-word; 
}

.post-body img {
    padding: 50px;
    min-width: 50px;
    max-width: 100%;
    height: auto;
}

.post-body a {
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

.post-body a:active, a:focus, a:hover {
    text-decoration: underline!important;
    color: #51b26d!important;
}

.post-body blockquote {
    margin: 0;
    color: #2e405b;
    border-left: 4px solid #1098ad;
    background-color: #e3f2fd;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 0 0 0 10px
}

.post-body pre {
    margin: 40px;
    color: #999;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 6px
}

.post-body pre code {
    line-height: 1.8;
    display: block;
    overflow-x: auto;
    background-color: #2b2b2b;
}

.post-body .code-line>code>span {
    display: inline;
}

.post-body hr {
    background-color: #555;
    height: 1px;
    border: none;
}


.post-body table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: .875em;
    margin: 0 0 20px;
    width: 100%;
}

.post-body tbody tr:nth-of-type(2n+1) {
    background: #f9f9f9;
}


.post-body tbody tr:hover {
    background-color: #999!important;
}

.post-body th, td {
    font-weight: 400;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

.post-body th, td {
    font-weight: 400;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

.post-body th, td {
    border: 1px solid #777;
        border-right-color: #777;
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: #777;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-bottom: 1px solid #777;
        border-bottom-width: 1px;
}
