:root {
    --primary-color: #51b26d;
    --background-color: #e0e0e0;
    --text-color: #555;
    --accent-background-color: #eeeeee;
    --accent-text-color: #212121;
    --divider-color: #bdbdbd80;
    /* fuck, 为什么不能用js改prefers-color-scheme */
    --dark-primary-color: #212121;
    --dark-accent-color: #9e9e9e;
    --dark-background-color: #616161;
    --dark-accent-background-color:#757575;
    --dark-text-color: #333;
    --dark-accent-text-color: #eeeeee;
    --dark-divider-color: #42424238;

    --post-info-text-color: #555555;
    --post-title-color: #444;
    --dark-post-info-text-color: #333;
    --dark-post-title-color: #212121;

    --more-button-color: #2196f3;
}