
.yoshino-menu {
    border-right: 0px !important;
}

.dark .yoshino-menu.yoshino-menu-vertical .yoshino-menu-item-active {
    --dark-accent-color: #9e9e9e80;
    background: var(--dark-accent-color)!important;
}

.dark .yoshino-menu.yoshino-menu-vertical .yoshino-menu-item-active::after {
    background: #cfbbbb!important;
}

.dark .yoshino-menu-item:hover:not(.yoshino-menu-item-disabled) {
    color: var(--dark-accent-text-color)!important;
}

.dark .yoshino-menu-item-active {
    color: var(--dark-accent-text-color)!important;
}

.dark .yoshino-pagination-item-active, .dark .yoshino-pagination-item:hover {
    border-color: #222;
    color: #222;
}