.post-item {
    margin-bottom: 40px;
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    background-color: var(--accent-background-color);
}

.post-item>h2 {
    padding: 8px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: var(--post-title-color);
}

.more-button {
    text-align: center;
    margin-bottom: 16px;
}

.more-button>button {
    color: #fff;
    border-color: #2196f3!important;
    background-color: #2196f3!important;
}

:global(.dark) .more-button>button {
    color: #fff;
    border-color: #222!important;
    background-color: #222!important;
}

:global(.dark) .post-item>h2 { 
    color: var(--dark-post-title-color)!important;
}

:global(.dark) .post-item {
    background-color: var(--dark-accent-background-color)!important;
} 

